<!DOCTYPE html>
<html lang="en">
  
   <%- include general/html %>




<body class="black">

  
        <div class="view view-home back-pics2">
        <div class="full-bg-img">

          <header>
            <div class="mask rgba-black-strong white-text">
                <nav class="title-nav container fixed-top">
                  <div class="row  my-5">
                    <div class="col-5">
                        <h2 class="font-weight-bold cv wow bounceIn"><i>Curriculum Vitea</i></h2>
                    </div>
                    <div class="col-5 mt-2" style="">
                        <div class="ml-5 mr-4 align-item-center d-flex justify-content-end">
                            <i class="fa fa-facebook fa-2x white-text mx-3"></i>
                            <i class="fa fa-twitter fa-2x white-text mx-3"></i>
                            <i class="fa fa-instagram fa-2x white-text mx-3"></i>
                            <i class="fa fa-youtube fa-2x white-text mx-3"></i>
                            <i class="fa fa-linkedin fa-2x white-text mx-3"></i>
                            
                         </div>
                       </div>  
                            <div class="menu col-2">
                                <a href="#" class="navicon"></a> 
                                <div class="toggle effect-3"> 
                                  <ul class="toggle-menu">
                                    <li><a href="/" class=""> Home</a></li>
                                    <li><a href="/about" class="active"> About</a></li>  
                                    <li><a href="skills.html"> Skills</a></li>
                                    <li><a href="experience.html">Experience</a></li> 
                                    <li><a href="education.html">Education</a></li>
                                    <li><a href="projects.html"> My Projects</a></li>							
                                    <li><a href="contact.html"> Contact Us</a></li>
                                  </ul>
                                </div> 
                              
                             </div> 
                   </div>
                </nav>
              </div>
            </header>

            </div>
            <footer style="margin-top: 100px;">
              <div class="container mt-3 black">
                <div class="row">
                 
                  <div class="col-6 text-center">
                    <i class="fa fa-phone white-text fa-2x mt-3 mr-2"></i><span class="h3">+234-810-212-9149.</span><br><br>
                  </div>
                  <div class="col-6 text-center">
                    <i class="fa fa-envelope white-text fa-2x mt-3 mr-2"></i><span class="h3 ml-2"><a style="color: rgb(26, 24, 33);"; href="mailto:hollasheg@gmail.com">Hollasheg@gmail.com</a><br><br>
                  </div>
                </div>
              </div>
            </footer>
        </div>

        <main>
          <div class=" justify-content-center d-flex align-item-center align-box">
            <div class="white black-text p-4">
              <span class="h1 font-weight-bold display-3">ABOUT ME</span>
            </div>
          </div> 



          <div class="container">
            <div class="row">
              <div class="col-md-4 m-2 view overlay zoom">
                  <img src="stylesheets/images/sackcloth-sackcloth-textured-laptop-ipad-163143.jpeg" alt="thumbnail" class="img-thumbnail mt-4 mr-5 z-depth-1 my-image img-fluid"
                  div class="mask flex-center waves-effect waves-light">
                  
              </div>
              <div class="col-md-6 white-text mt-5">
                <div class="row">
                  <div class="col-md-12">
                    <h1 class="">Hi, I'm <span class="blue-text">Olabayo Segun Emmanuel</span></h1>
                    <h3>Web Developer and Database Administrator</h3>
                    <hr class="white">
                  </div>

                  <div class="col-md-12 my-5">
                      <div class="row my-3">
                        <div class="col-3">
                          <span class="h3">D.O.B: </span>
                        </div>
                        <div class="col-6">
                          <span class="h3 blue-text">25-05-1996</span>
                        </div>
                      </div>
                      <div class="row my-3">
                          <div class="col-3">
                            <span class="h3">PHONE: </span>
                          </div>
                          <div class="col-6">
                            <span class="h3 blue-text">+2348102129149</span>
                          </div>
                        </div>
                        <div class="row my-3">
                            <div class="col-3">
                              <span class="h3">EMAIL: </span>
                            </div>
                            <div class="col-6">
                              <span class="h3 blue-text"><a href="mailto:Hollasheg@gmail.com">Hollasheg@gmail.com</a></span>
                            </div>
                          </div>
                          <div class="row my-3">
                              <div class="col-3">
                                <span class="h3">WEBSITE: </span>
                              </div>
                              <div class="col-6">
                                <span class="h3 blue-text">sheygun.com</span>
                              </div>
                            </div>
                            <div class="row my-3">
                                <div class="col-3">
                                  <span class="h3">POSITION: </span>
                                </div>
                                <div class="col-9">
                                  <span class="h3 blue-text">Asst. CEO, Samdos Express Technology</span>
                                </div>
                              </div>
                            

              <div class="social-wthree-icons">
                  <ul>
                    <li><a href="#" class="fa fa-facebook icon icon-border facebook"> </a></li>
                    <li><a href="#" class="fa fa-twitter icon icon-border twitter"> </a></li>
                    <li><a href="#" class="fa fa-google-plus icon icon-border googleplus"> </a></li>
                    <li><a href="#" class="fa fa-dribbble icon icon-border dribbble"> </a></li> 
                  </ul>
                  <div class="clearfix"> </div>
                </div> 

            </div>
                      
                    </div>

                </div>

                <div class="col-md-12" style="color: rgb(47, 56, 55);">
                 <div class="row">
                    <div class="col-3">
                        <h1 class="text-center red white-text" style="font-size: 100px; transform: translate(10px, -15px);">O</h1>
                      </div>   
                      <div class="col-9">
                          <p align="justify" style="font-size:18px;">labayo Segun Emmanuel nicknamed Hon. Sheygun is the Assitant Chief Executive Officer of <strong>SAMDOS EXPRESS</strong>. A Professional in Web Development and a profounded UI/UX designer. He is also a Database Administrator, Project Manager and a Graphic Designer.</p>
                   
                      </div>
                 </div>
                </div>
                <div class="col-md-12" style="margin-top: 0px;">
                    <p align="justify"  style="font-size:18px; color: rgb(47, 56, 55);">He is an upcoming graduate of Lagos State University (LASU). He is a young entrepreneur whose aim is to provide solutions to any technical problems. He also has practical corporate experience of about three years in the computer Vision and in the Business World. 
                    His major research interest areas are Web and Software Developments. He is from the family of six and presently with Joy.</p>
                </div>
              </div>

            
          </div>
        </main>



        
  <footer class="black"><br>
    
<div class="black">
  <h1 class="d-flex justify-content-center samdos">© 2019 Samdos Technology, All Right Reserved</h1>
</div> 

</footer>
</body>


<script>
  $('.carousel').carousel({
  interval: 200
})
</script>

<%- include general/script %>

 <script>
		$('.navicon').on('click', function (e) {
		  e.preventDefault();
		  $(this).toggleClass('navicon--active');
		  $('.toggle').toggleClass('toggle--active');
		});
	</script> 


</html>