<!DOCTYPE html>
<html lang="en">
  
   <%- include general/html %>




<body class="black">

  
        <div class="view view-home back-pics2">
        <div class="full-bg-img">

          <header>
            <div class="mask rgba-black-strong white-text">
                <nav class="title-nav container fixed-top">
                  <div class="row  my-5">
                    <div class="col-5">
                        <h2 class="font-weight-bold cv wow bounceIn"><i>Curriculum Vitea</i></h2>
                    </div>
                    <div class="col-5 mt-2" style="">
                        <div class="ml-5 mr-4 align-item-center d-flex justify-content-end">
                            <i class="fa fa-facebook fa-2x white-text mx-3"></i>
                            <i class="fa fa-twitter fa-2x white-text mx-3"></i>
                            <i class="fa fa-instagram fa-2x white-text mx-3"></i>
                            <i class="fa fa-youtube fa-2x white-text mx-3"></i>
                            <i class="fa fa-linkedin fa-2x white-text mx-3"></i>
                            
                         </div>
                       </div>  
                            <div class="menu col-2">
                                <a href="#" class="navicon"></a> 
                                <div class="toggle effect-3"> 
                                  <ul class="toggle-menu">
                                    <li><a href="/" class=""> Home</a></li>
                                    <li><a href="/about" class=""> About</a></li>  
                                    <li><a href="skills.html"> Skills</a></li>
                                    <li><a href="/experience" class="">Experience</a></li> 
                                    <li><a href="/education">Education</a></li>
                                    <li><a href="projects.html"> My Projects</a></li>							
                                    <li><a href="/contact" class="active"> Contact Me</a></li>
                                  </ul>
                                </div> 
                              
                             </div> 
                   </div>
                </nav>
              </div>
            </header>

            </div>
            <footer style="margin-top: 100px;">
              <div class="container mt-3 ">
                <div class="row">
                 
                  <div class="col-6 text-center">
                    <i class="fa fa-phone white-text fa-2x mt-3 mr-2"></i><span class="h4 white-text">+234-810-212-9149.</span><br><br>
                  </div>
                  <div class="col-6 text-center">
                    <i class="fa fa-envelope white-text fa-2x mt-3 mr-2"></i><span class="h4 ml-2"><a style="color: #fff;" href="mailto:hollasheg@gmail.com">Hollasheg@gmail.com</a><br><br>
                  </div>
                </div>
              </div>
            </footer>
        </div>

        <main>
          <div class=" justify-content-center d-flex align-item-center align-box mb-5">
            <div class="white black-text p-4">
              <span class="h1 font-weight-bold display-3">CONTACT ME</span>
            </div>
          </div> 

          <div class="container">
            <div class="row">
              <div class="col-md-6">
                    <form class="text-center border border-light p-5">
                      <input type="text" id="defaultContactFormName" class="form-control mb-4 p-5" placeholder="Name">
                      <input type="email" id="defaultContactFormEmail" class="form-control mb-4 p-5" placeholder="E-mail">
                      <label>Subject</label>
                      <select class="browser-default custom-select mb-4" style="height: 60px; font-size: 12px;">
                          <option value="" class="" disabled>Choose option</option>
                          <option value="1" selected>Feedback</option>
                          <option value="2">Report a bug</option>
                          <option value="3">Feature request</option>
                          <option value="4">Feature request</option>
                      </select>
                      <div class="form-group">
                          <textarea class="form-control rounded-0 p-5 " id="exampleFormControlTextarea2" rows="3" placeholder="Message"></textarea>
                      </div>
                      <div class="custom-control custom-checkbox mb-4">
                          <input type="checkbox" class="custom-control-input" id="defaultContactFormCopy">
                          <label class="custom-control-label h4" for="defaultContactFormCopy">Send me a copy of this message</label>
                      </div>
                      <button class="btn btn-outline-white btn-block p-5" style="font-size: 18px;" type="submit">Send</button>
                    </form>
              </div>
              
              <div class="col-md-6">
                <div class="container">
                  <div class="row">
                    <div class="col-12 info-edit">
                     <h3 class="mt-3 mx-4" style="line-height: 1.4;"> this is a litthe information about my contact, how to get to me and what to do after getting to me
                      this is a litthe information about my contact, how to get to me and what to do after getting to me</h3> 
                    </div>
                        <div class="col-12 my-4">
                          <div class="white p-5">
                            <h1 class="blue-text mb-4">Contact Info</h1>
                           <h4 class="my-3"> <b class="font-weight-bold">PHONE: </b> <span>+2348102129149</span></h4>
                           <h4 class="my-3"> <b class="font-weight-bold my-3">ADDRESS: </b> <span>Adeniran Ogunsanya street. Lekki axis, Victoria Island. Nigeria, Africa.</span></h4>
                          </div>
                        </div>

                        <div class="col-12 my-2">
                          <div class="white p-5">
                            <h1 class="blue-text mb-4">Social Media Info</h1>
                           <h4 class="my-3"> <b class="font-weight-bold my-3">EMAIL: </b> <span>Hollasheg@gmail.com</span></h4>
                           <h4 class="my-3"> <b class="font-weight-bold my-3">WEBSITE: </b> <span>sheygun.com</span></h4>
                           <h4 class="my-3"> <b class="font-weight-bold my-3">GITHUB: </b> <span>Sheygun@github.com</span></h4>
                           <h4 class="my-3"> <b class="font-weight-bold my-3">FACEBOOK: </b> <span>hollabayor.sheygun@facebook.com</span></h4>
                          </div>
                        </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </main>



        
  <footer class="black"><br>
    
<div class="black">
  <h1 class="d-flex justify-content-center samdos">© 2019 Samdos Technology, All Right Reserved</h1>
</div> 

</footer>
</body>


<script>
  $('.carousel').carousel({
  interval: 200
})
</script>

<%- include general/script %>

 <script>
		$('.navicon').on('click', function (e) {
		  e.preventDefault();
		  $(this).toggleClass('navicon--active');
		  $('.toggle').toggleClass('toggle--active');
		});
	</script> 


</html>