<!DOCTYPE html>
<html lang="en">
  
   <%- include general/html %>




<body class="black">

  
        <div class="view view-home back-pics2">
        <div class="full-bg-img">

          <header>
            <div class="mask rgba-black-strong white-text">
                <nav class="title-nav container fixed-top">
                  <div class="row  my-5">
                    <div class="col-5">
                        <h2 class="font-weight-bold cv wow bounceIn"><i>Curriculum Vitea</i></h2>
                    </div>
                    <div class="col-5 mt-2" style="">
                        <div class="ml-5 mr-4 align-item-center d-flex justify-content-end">
                            <i class="fa fa-facebook fa-2x white-text mx-3"></i>
                            <i class="fa fa-twitter fa-2x white-text mx-3"></i>
                            <i class="fa fa-instagram fa-2x white-text mx-3"></i>
                            <i class="fa fa-youtube fa-2x white-text mx-3"></i>
                            <i class="fa fa-linkedin fa-2x white-text mx-3"></i>
                            
                         </div>
                       </div>  
                            <div class="menu col-2">
                                <a href="#" class="navicon"></a> 
                                <div class="toggle effect-3"> 
                                  <ul class="toggle-menu">
                                    <li><a href="/" class=""> Home</a></li>
                                    <li><a href="/about" class=""> About</a></li>  
                                    <li><a href="/error"> Skills</a></li>
                                    <li><a href="/experience" class="">Experience</a></li> 
                                    <li><a href="/education" class="active">Education</a></li>
                                    <li><a href="/error"> My Projects</a></li>							
                                    <li><a href="/contact"> Contact Me</a></li>
                                  </ul>
                                </div> 
                              
                             </div> 
                   </div>
                </nav>
              </div>
            </header>

            </div>
            <footer style="margin-top: 100px;">
              <div class="container mt-3 ">
                <div class="row">
                 
                  <div class="col-6 text-center">
                    <i class="fa fa-phone white-text fa-2x mt-3 mr-2"></i><span class="h4 white-text">+234-810-212-9149.</span><br><br>
                  </div>
                  <div class="col-6 text-center">
                    <i class="fa fa-envelope white-text fa-2x mt-3 mr-2"></i><span class="h4 ml-2"><a style="color: #fff;" href="mailto:hollasheg@gmail.com">Hollasheg@gmail.com</a><br><br>
                  </div>
                </div>
              </div>
            </footer>
        </div>

        <main>
          <div class=" justify-content-center d-flex align-item-center align-box mb-5">
            <div class="white black-text p-4">
              <span class="h1 font-weight-bold display-3">EDUCATION</span>
            </div>
          </div> 

        <div class="container">
          <div class="container">
            <div class="row zoomer mt-5">
              <div class="col-md-4 date-of-ex">
                <center style="margin-top: 50px;">
                  <h1 class="display-3 white-text">2015 - 2019</h1>
                  <h3 class="white-text">LAGOS STATE UNIVERSITY</h3>
                </center>
              </div>
              <div class="col-md-8 experience-details view overlay zoom">
                <div class="">
                  <h2 class="mt-5 display-4 senior-text">Computer Science</h2>
                  <h4 class="company-info senior-text mt-4">this is the one that usually fight for the peace of the environs, including the world. this is the one that usually fight for the peace of the environs, including the world
                  </h4>
                </div>
              </div>
            </div>

            <div class="row zoomer mt-5">
                <div class="col-md-8 experience-details view overlay zoom">
                    <div class="">
                      <h2 class="mt-5 display-4 senior-text">Senoir Secondary School</h2>
                      <h4 class="company-info senior-text mt-4">this is the one that usually fight for the peace of the environs, including the world. this is the one that usually fight for the peace of the environs, including the world
                      </h4>
                    </div>
                  </div>
              <div class="col-md-4 date-of-ex">
                <center style="margin-top: 50px;">
                  <h1 class="display-3 white-text">2010 - 2013</h1>
                  <h3 class="white-text">OKEPATA COMMUNITY HIGH SCHOOL</h3>
                </center>
              </div>
            </div>

            <div class="row zoomer mt-5">
              <div class="col-md-4 date-of-ex">
                <center style="margin-top: 50px;">
                  <h1 class="display-3 white-text">2007 - 2010 </h1>
                  <h3 class="white-text">GOOD SUCESS PRIVATE SCHOOL</h3>
                </center>
              </div>
              <div class="col-md-8 experience-details view overlay zoom">
                <div class="">
                  <h2 class="mt-5 display-4 senior-text">Junior Secondary School</h2>
                  <h4 class="company-info senior-text mt-4">this is the one that usually fight for the peace of the environs, including the world. this is the one that usually fight for the peace of the environs, including the world
                  </h4>
                </div>
              </div>
            </div>

            <div class="row zoomer mt-5">
                    <div class="col-md-8 experience-details view overlay zoom">
                        <div class="">
                          <h2 class="mt-5 display-4 senior-text">Primary School</h2>
                          <h4 class="company-info senior-text mt-4">this is the one that usually fight for the peace of the environs, including the world. this is the one that usually fight for the peace of the environs, including the world
                          </h4>
                        </div>
                      </div>
                  <div class="col-md-4 date-of-ex">
                    <center style="margin-top: 50px;">
                      <h1 class="display-3 white-text">1998 - 2007</h1>
                      <h3 class="white-text">PROMISE PRIVATE SCHOOL</h3>
                    </center>
                  </div>
                </div>

          </div>
        </div>

        </main>



        
  <footer class="black"><br>
    
<div class="black">
  <h1 class="d-flex justify-content-center samdos">© 2019 Samdos Technology, All Right Reserved</h1>
</div> 

</footer>
</body>


<script>
  $('.carousel').carousel({
  interval: 200
})
</script>

<%- include general/script %>

 <script>
		$('.navicon').on('click', function (e) {
		  e.preventDefault();
		  $(this).toggleClass('navicon--active');
		  $('.toggle').toggleClass('toggle--active');
		});
	</script> 


</html>