body{
	padding: 0;
    margin: 0;
    background: black;
    letter-spacing: 1px;
	font-family: 'Montserrat', sans-serif;
}


html,
body,
header,
.view {
  height: 100%;
  width: 100%;
}
.back-pics{
	background: url("../images/sackcloth-sackcloth-textured-laptop-ipad-163143.jpeg") no-repeat center 0px;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	background-size:cover;    
	position:relative;
}
.title-nav{
	height: 80px;
	width: auto;
}

.cv{
	font-size: 40px;
}
a{
	text-decoration: none;
}
.sticky{
	background: rgb(14, 2, 2);
	height: 300px;
	margin-top: 250px;
	margin-left: 50px; 
	margin-right:50px;
	opacity: 0.6;
}
.name{
	border: 1px solid white;
	width: auto;
	margin: 20px;
}
/*-- menu-navigation --*/
.menu {
    position: absolute;
    z-index: 9999;
    right: 3px;
}
.menu .navicon {
    background: transparent;
    position: relative;
    height: 46px;
    width: 46px;
    display: block;
    z-index: 9999;
    -webkit-transition: linear 0.5s all;
    -moz-transition: linear 0.5s all;
	-ms-transition: linear 0.5s all;
	-o-transition: linear 0.5s all;
    transition: linear 0.5s all;
	outline: none;
}
.menu .navicon:before, .menu .navicon:after {
	background: #fff;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	content: "";
	height: 3px;
	left: 0;
	-webkit-transition: 0.8s all;
	-moz-transition: 0.8s all;
	-o-transition: 0.8s all;
	-ms-transition: 0.8s all;
	transition: 0.8s all;
	width: 45px;
} 
.menu .navicon:before {
	-moz-box-shadow: #fff 0 14px 0 0;
	-o-box-shadow: #fff 0 14px 0 0;
	-ms-box-shadow: #fff 0 14px 0 0;
	-webkit-box-shadow: #fff 0 14px 0 0;
	box-shadow: #fff 0 14px 0 0;
	position: absolute;
	top: 0;
} 
.menu .navicon:after {
	position: absolute;
	top: 28px;
} 
.menu .navicon--active { 
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all; 
	-moz-transition:0.5s all; 
	-o-transition:0.5s all;
	transition:0.5s all;
} 
.menu .navicon--active:before {
	-moz-box-shadow: transparent 0 0 0 0;
	-ms-box-shadow: transparent 0 0 0 0;
	-o-box-shadow: transparent 0 0 0 0;
	-webkit-box-shadow: transparent 0 0 0 0;
	box-shadow: transparent 0 0 0 0;
	top: 15px !important;
	-webkit-transform: rotate(225deg);
	-ms-transform: rotate(225deg);
	-moz-transform: rotate(225deg);
	-o-transform: rotate(225deg);
	transform: rotate(225deg);
}
.menu .navicon--active:after {
	top: 15px !important;
	-webkit-transform: rotate(315deg);
	-ms-transform: rotate(315deg);
	-moz-transform: rotate(315deg);
	-o-transform: rotate(315deg);
	transform: rotate(315deg);
} 
.menu .toggle {
    display: block;
    position: absolute;
	right: 0;
    width: 250px;
    background-color: #FFF;
    padding: 2em 3em;
    opacity: 0;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
    transition: 0.5s all;
    -webkit-transform: translateY(-200%);
    -moz-transform: translateY(-200%);
    -o-transform: translateY(-200%);
    -ms-transform: translateY(-200%);
    -ms-transform: translateY(-200%);
    transform: translateY(-200%);
    z-index: 99999;
    -webkit-box-shadow: 0px 0px 7px #696868;
    -moz-box-shadow: 0px 0px 7px #696868;
	-o-box-shadow: 0px 0px 7px #696868;
	-ms-box-shadow: 0px 0px 7px #696868;
    box-shadow: 0px 0px 7px #696868;
}
.menu .toggle--active { 
	opacity: 1;
	-webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
    transition: 0.5s all;
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	-moz-transform: translateY(0);
	transform: translateY(0); 
} 
.menu .toggle-menu li {
    display: block;
    margin: 1em auto;
    text-align: center;  
} 
.menu .toggle-menu li a {
    text-decoration: none;
    color: #999;
    display: inline-block;
    text-align: center;
    font-size: 13px; 
    font-weight: 40;
    margin: 6px 0;
    position: relative;
	text-transform: uppercase;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
    transition: 0.5s all;
}
.menu .toggle-menu li a:hover,.menu .toggle-menu li a.active{
	color:#4378ff; 
	-webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    font-weight: 700;
} 
/*-- HOVER EFFECT3 --*/ 
.effect-3 a:before,
.effect-3 a:after {
	content: "";
	height: 1px;
	width: 0;
	opacity: 0;
	background-color: #4378ff;
	position: absolute;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-o-transition: all .5s;
	-ms-transition: all .5s;
	transition: all .5s;
} 
.effect-3 a:before {
	top: -3px;
} 
.effect-3 a:after {
	bottom: -3px;
	right: 0;
} 
.effect-3 a:hover:before,
.effect-3 a:hover:after,.menu .toggle-menu li a.active:before,.menu .toggle-menu li a.active:after{
	width: calc(100% + 20px);
	opacity: 1;
}
/*-- //menu-navigation --*/

/* footer */
.samdos{
	transform: translateY(40px);
	color: #fff;
	font-size: 18px;
	margin: 20px 0px;
}























@media (max-width: 500px){
	.cv{
		font-size: 20px;
		text-align: center;
	}
}